/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f0f8ff;
  margin: 0;
  padding: 0;
}

.game-container {
  max-width: 600px;
  margin: 50px auto;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

h1 {
  color: #333;
}

.info {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  margin-bottom: 20px;
}

#input-box {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #3498db;
  border-radius: 5px;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

button:active {
  background-color: #2980b9;
}

button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

input:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}

/* Botones específicos para los entrenamientos */
#training-button, #finger-button {
  margin-top: 20px;
  background-color: #27ae60; /* Verde para diferenciarlos */
}

#training-button:hover, #finger-button:hover {
  background-color: #2ecc71; /* Verde más claro en hover */
}

#training-button:active, #finger-button:active {
  background-color: #2ecc71; /* Verde más claro en click */
}

/* Estilos adicionales para el modo entrenamiento */
.finger-selection {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.finger-button {
  margin: 0 10px;
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.finger-button:hover {
  background-color: #2980b9;
}

.finger-button:active {
  background-color: #2980b9;
}

#letter-container {
  font-size: 30px;
  font-weight: bold;
  margin: 20px 0;
}

#start-button {
  background-color: #e74c3c; /* Rojo para inicio */
}

#start-button:hover {
  background-color: #c0392b;
}

#start-button:active {
  background-color: #c0392b;
}

#back-to-home-button {
  background-color: #8e44ad; /* Violeta para el botón de regreso */
  color: white;
  margin-top: 30px;
  padding: 10px 20px;
}

#back-to-home-button:hover {
  background-color: #9b59b6;
}

#back-to-home-button:active {
  background-color: #9b59b6;
}
